<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <title>abcde</title>
    <style>
      body {
        width: 100%;
        min-height: 100vh;
        margin: 0;
        padding: 0;
      }

      input[type="submit"] {
        padding: 5px 10px;
      }
    </style>
  </head>
  <body>
    <h1>abcde</h1>
    {{ if eq false .IsRipping }}
    <form method="post" action="/api/v1/rip">
      <input type="text" name="fallback" placeholder="fallback name" />
      <input type="submit" value="Rip" />
    </form>
    {{ end }}
    <h2>{{ .Info.Album }}</h2>
    <hr />
    Progress: {{ len .Info.Ripped }} / {{ .Info.TotalTracks }}.
    <ol>
      {{ range $v := .Info.Ripped }}
        <li>{{ $v }} ✅</li>
      {{ end }}
      {{ if not (eq "" .Info.Ripping) }}
        <li>{{ .Info.Ripping }} 💿</li>
      {{ end }}
    </ol>
    <h2>Advanced</h2>
    <hr />
    <details>
      <summary>Errors ({{ .ErrorLines }})</summary>
      <pre><code>
       {{ .Error }}
      </code></pre>
    </details>
    <details>
      <summary>Logs ({{ .LogLines }})</summary>
      <pre><code>
      {{ .Logs }}
      </code></pre>
    </details>
  </body>
</html>
