<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <title>abcde</title>
    <style>
      body {
        width: 100%;
        min-height: 100vh;
        margin: 0;
        padding: 0;
      }

      input[type="submit"] {
        padding: 5px 10px;
      }

      details > summary {
        list-style-type: '▶';
      }

      details[open] > summary {
        list-style-type: '▼';
      }
    </style>
  </head>
  <body>
    <h1>abcde</h1>
    {{ if eq false .IsRipping }}
    <form method="post" action="/api/v1/rip">
      <input type="text" required name="fallback" placeholder="Fallback name" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
      <input type="submit" value="Rip" />
    </form>
    <p id="status"></p>
    {{ end }}
    <h2>{{ .Info.Album }}</h2>
    <hr />
    <h2>Progress: {{ len .Info.Ripped }} / {{ .Info.TotalTracks }}</h2>
    <ol>
      {{ range $v := .Info.Ripped }}
        <li>{{ $v }} ✅</li>
      {{ end }}
      {{ if not (eq "" .Info.Ripping) }}
        <li>{{ .Info.Ripping }} 💿</li>
      {{ end }}
    </ol>
    <h2>Advanced</h2>
    <hr />
    <details>
      <summary>Errors ({{ .ErrorLines }})</summary>
      <pre><code>
       {{ .Error }}
      </code></pre>
    </details>
    <details>
      <summary>Logs ({{ .LogLines }})</summary>
      <pre><code>
      {{ .Logs }}
      </code></pre>
    </details>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const query = new URLSearchParams(location.hash.substring(1))
        history.replaceState(null, null, ' ');

        if (!query) {
          return
        }

        const error = query.get('error')
        if (error) {
          let message = 'An unknown error occured. See logs below.'
          switch (error) {
            case 'running':
              message = 'A rip is already in progress.'
              break;
            case 'internal':
              message = 'An internal error occured. See logs below.'
              break;
          }
          document.getElementById("status").innerText = message
        }
      })
    </script>
  </body>
</html>
